@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: linear-gradient(to right, #ECE5C7, #C2DED1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#menu {
    z-index: 2;
    cursor: pointer;
}

#menu {
    z-index: 2;
    cursor: pointer;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 15px 0 0px 20px;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px 0 10;
}

.nav li {
    list-style: none;
    padding: 12px 0 5px 0;
}

.nav li a {
    color: #9796f0;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    right: 15px;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0px 20px 20px;
    background: radial-gradient(circle, white, white);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(-45px) rotateZ(-4deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(45px) rotateZ(-6deg);
}

.change-bg {
    width: 520px;
    height: 500px;
    transform: translate(65%, -40%);
}

.img-raised {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .24), 0 5px 5px -5px rgba(0, 0, 0, .2);
}

.container {
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-out;
}

.container:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-container {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-out;
    z-index: 2;
}

.img-container:hover {
    cursor: pointer;
}

.container:hover .img-container {
    transform: translateY(-100px);
}

.img-container>img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-out;
}

.container:hover>.img-container>img {
    opacity: 0.5;
}

.social-media {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin: 0;
    padding: 0;
}

.social-media>li {
    list-style: none;
}

.social-media>li>a {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    text-align: center;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.3s ease-out;
}

.container:hover>.social-media>li>a {
    transform: translateY(0);
    opacity: 1;
}

.social-media>li>a>.fa {
    font-size: 24px;
    line-height: 50px;
    transition: transform 0.3s ease-out;
}

.social-media>li>a:hover>.fa {
    transform: rotateY(360deg);
}


.container:hover .social-media li:nth-child(1) a {
    transition-delay: 0.2s;
}

.container:hover .social-media li:nth-child(2) a {
    transition-delay: 0.3s;
}


.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center
}

.user-info>h2 {
    padding: 0;
    margin: 10px 0;
}

.user-info>span {
    color: #262626;
    font-size: 16px;
}