:root {
    --fs-xl: clamp(0.3rem, 11vw, 6rem);
    /* will not shrink less than 5rem, max of 12rem */
    --fs-600: clamp(0.2rem, 5vw, 3rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

#herofont {
    text-align: center;
    font-size: var(--fs-xl);
    color: #DAC611;
}

#herosubfont {
    text-align: center;
    font-size: var(--fs-600);
    color: rgb(30, 30, 30)
}

#pythonic_color {
    color: #115ED1;
}

body {
    background: url("../img/pythonic-bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.hero_header {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@media (max-width:991px) {
    .hero_header {
        padding-bottom: 10vw;
    }
}

.hero_header:after {
    content: "";
    display: block;
    clear: both;
}

.bottom_hero {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2%;
}

@media (max-width:991px) {
    .bottom_hero {
        padding-top: 10vw;
    }
}

.bottom_hero:after {
    content: "";
    display: block;
    clear: both;
}

.profile_icon {
    visibility: hidden;
}

.profile_icon img {
    height: 30vh;
    min-width: 30vh;
    border: 7px solid white;
    border-radius: 50%;
}

.profile_icon:hover img {
    border-color: #115ED1;
    transition: .6s;
}

.member1 {
    float: right;
}

.member2 {
    float: left;
}

.profile_icon {
    margin: 1rem;
}

.bubble-up {
    animation: bubble-up 1s 1 ease-out forwards;
	visibility: visible;
}

.float-around {
	animation: float-around 6s ease-in-out infinite;
}

.img-thumbnail {
    animation: float-around 6s ease-in-out infinite;
}

@keyframes bubble-up {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float-around {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}