<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <title>Contact</title>
  </head>
  <body>
    <!-- <h1>Contact Will be here</h1> -->
    <div id="menu" onclick="menuOnClick()">
        <div id="menu-bar">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
          <ul>
            <li>
              <a href="/"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="23"
                  height="23"
                  fill="currentColor"
                  class="bi bi-house-door"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
                  /></svg
              ></a>
            </li>
            <li><a href="/profile/hanna">About me</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Navbar Popup Background -->
    <div class="menu-bg" id="menu-bg"></div>
    <div class="container">
      <div class="img-container">
        <img src="../static/img/hanna.png" alt="" />
      </div>
      <ul class="social-media">
        <li>
          <a href="https://github.com/Hgersten-hash" target="blank"><i class="fa fa-github" style="font-size: 24px"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/hannagersten/" target="blank"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
      <div class="user-info">
        <h2>Hanna Gersten</h2>
        <span>Software Engineer</span>
      </div>
    </div>
    <script src="../static/scripts/contact.js"></script>>
  </body>
</html>

