<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link lang="sass" rel="stylesheet" href="../static/styles/index.css" />

    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="hero_header">
        <div class="member1 profile_icon">
            <a href="/profile/hanna" class="img-link">
                <img class= "img-responsive img-thumbnail" src="./static/img/hanna.png">
            </a>
        </div>
        <div class="member2 profile_icon">
            <a href="/profile/juan">
                <img class= "img-responsive img-thumbnail" src="./static/img/juan.png">
            </a>
        </div>
    </div>
    <div class="container" id="team-name">
      <h1 id="herofont"><span id="pythonic_color">TEAM </span>PYTHONIC</h1>
      <h2 id="herosubfont">Aspiring Production Engineers</h2>
    </div>
    <div class="bottom_hero">
        <div class="member1 profile_icon">
            <a href="/profile/emily">
                <img class= "img-responsive img-thumbnail" src="./static/img/emily.png">
            </a>
        </div>
        <div class="member2 profile_icon">
            <a href="/profile/emilie">
                <img class= "img-responsive img-thumbnail" src="./static/img/emilie.png">
            </a>
        </div>
    </div>

    <div class="fader">

    </div>
  </body>
  <script src="../static/scripts/index.js"></script>
</html>
