<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles/profile.css" />
  </head>
  <body>
    <div class="container">
      <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
          <ul>
            <li><a href="/profile/hanna">Hanna</a></li>
            <li><a href="/profile/emilie">Emilie</a></li>
            <li><a href="/profile/emily">Emily</a></li>
            <li><a href="/profile/juan">Juan</a></li>
          </ul>
        </nav>
      </div>
      <nav class="nav" id="nav">
        <ul>
          <li><a href="#">Juan</a></li>
          <li><a href="#">Hanna</a></li>
          <li><a href="#">Emilie</a></li>
          <li><a href="#">Emily</a></li>
        </ul>
      </nav>
    </div>

    <div class="menu-bg" id="menu-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col col-sm-4 p-0">
              <div class="img-responsive mb-0 mt-3">
                <img
                  class="img-raised rounded-circle img-fluid"
                  src="../static/img/{{ name }}.png"
                />
              </div>
            </div>
            <div class="col col-sm-8 ps-2 pe-0 mt-3">
              <h1 class="Name mb-3">{{ info['name'] }}</h1>
              <div class="About-me mb-3 max-width: 550px">
                <div class="card">
                  <div class="card-header">About {{ name|capitalize }}</div>
                  <div class="card-body">
                    <p class="lead">{{ info['about'] }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects mb-3">
            <div class="card">
              <div class="card-header">Projects</div>
              <div class="card-body">
                {% for project in info['projects'] %}
                <h5 class="card-title">{{ project['projName'] }}</h5>
                <p class="card-text">{{ project['projDesc'] }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="hobbies">
            <div class="card border-light mb-3" style="max-width: 875px">
              <div class="card-header">Hobbies</div>
              <div class="card-body">
                {% for hobby in info['hobbies'] %}
                <h5 class="card-title">{{ hobby['hobbyName'] }}</h5>
                <p class="card-text">{{ hobby['hobbyDesc'] }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 mt-5 pe-0">
          <div class="map mt-5 ms-1 me-0">
            <div class="card border-light mb-3" style="max-width: 100%">
              <div class="card-header">Where I've Been</div>
              <div class="card-body">
                {% for place in info['places'] %}
                <h5 class="card-title">{{ place }}</h5>
                <p class="card-text">
                  {{ place }} coordinates to be loaded into JS array.
                </p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="experience">
            <div class="card border-light mb-3" style="max-width: 100%">
              <div class="card-header">Experience</div>
              <div class="card-body">
                {% for experience in info['experience'] %}
                <h5 class="card-title">{{ experience['expName'] }}</h5>
                <p class="card-text">{{ experience['expDesc'] }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
  <script src="../static/scripts/profile.js"></script>
</html>
